# Database
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=

# GitLab authentication
export AUTH_GITLAB_CLIENT_ID=
export AUTH_GITLAB_CLIENT_SECRET=
