# Database
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=

# GitLab SSO authentication
export AUTH_GITLAB_CLIENT_ID=
export AUTH_GITLAB_CLIENT_SECRET=

# GitLab Integration
export GITLAB_TOKEN=

# App base URL (production only)
export BASE_URL=

# ArgoCD integration (Roadie plugin)
# Generate tokens with: argocd account generate-token --account backstage
export ARGOCD_HOMELAB_TOKEN=
export ARGOCD_DEV_TOKEN=
export ARGOCD_PROD_TOKEN=

# Kubernetes Integration (local development only)
export K8S_TALOS_PROD_TOKEN=
export K8S_TALOS_PROD_CA_DATA=
